{% load cache %}

{% load designer_item_d from reckoning %}
{% designer_item_d as designer_item_d %}

<header>
<div class="container">
<div class="col-md-12">
  {% if user.is_authenticated %}
  <nav class="navbar navbar-expand-lg bg-success p-2 text-dark bg-opacity-25">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'index' %}">Реформа</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Переключатель навигации">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
           <li class="nav-item dropdown btn btn-outline-success">
             <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Дизайнеры <span class="caret"></span>
             </a>
             {% cache 30 designer_items request.user.username %}
             <ul class="dropdown-menu multi-column columns-3">
                <div class="row">
                  <div class="col-sm-4">
                    <ul class="multi-column-dropdown" role="menu">
                    <li role="presentation" class="dropdown-header">Салон</li>
                      {% for d in designer_item_d %}
                        <li class="{% if d.username == designer.username %}active{% endif %}">
                            <a href="{% url 'reckoning_view' d.username %}">
                                {{ d.get_full_name }}
                            </a>
                        </li>
                      {% endfor %}
                    </ul>
                  </div>
                </div>
             </ul>
             {% endcache %}
           </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
             <li class="nav-item btn btn-outline-success">
                <a align="left" class="nav-link active" aria-current="page" href="{% url 'reckoning_view' user.username %}">{{ user.get_full_name }}</a>
             </li>
        </ul>
      </div>
    </div>
  </nav>
  {% endif %}
</div>
</div>
</header>





