{% extends "appmain/base.html" %}
{% load static %}
{% load kitchen_offerpage_count from kitchenofferpge %}

{% block content %}
{% kitchen_offerpage_count reckoning.uuid as kitchen_offerpage_count %}
<br>
<div class="container">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="reckoningunit">
                <div class="d-grid gap-2">
                    <button type="button" id="addkitchenbtn_{{ reckoning.uuid }}" onclick="press_add_kitchen_btn('{{ reckoning.uuid }}');" showed="0" kitchen_count="{{ kitchen_offerpage_count }}" class="btn btn-info btn-lg add_kitchen_btn" reckoninguuid="{{ reckoning.uuid }}">
                        <span class="glyphicon glyphicon-comment" aria-hidden="true"></span>Кухонный гарнитур ({{ kitchen_offerpage_count }})
                    </button>
                </div>
                <br>
                <div id="add_kitchen_offerpage_{{ reckoning.uuid }}" class="kitchenoffer"></div>
                <br>
                <div id="kitchen_offerpages_{{ reckoning.uuid }}" class="kitchenoffer"></div>




                <div class="d-grid gap-2">
                    <button type="button" id="addkitchenbtn1_{{ reckoning.uuid }}" onclick="press_add_kitchen_btn1('{{ reckoning.uuid }}');" showed="0" kitchen_count1="{{ kitchen_offerpage_count }}" class="btn btn-info btn-lgadd_kitchen_btn1" reckoninguuid="{{ reckoning.uuid }}">
                        <span class="glyphicon glyphicon-comment" aria-hidden="true"></span>Модульный диван, модель Эго (Ego) ({{ kitchen_offerpage_count }})
                    </button>
                </div>
                <br>
                <div id="add_kitchen_offerpage1_{{ reckoning.uuid }}" class="kitchenoffer"></div>
                <br>
                <div id="kitchen_offerpages1_{{ reckoning.uuid }}" class="kitchenoffer"></div>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>
<br>
<div class="container">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-10">
            <div class="form-group text-left">
                <div class="col-sm-offset-2">
                    <a class="btn btn-secondary" href="{% url 'presentation:total_chek' reckoning.uuid %}">Итоговая таблица</a>
                </div>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
{% endblock content %}