.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:1.096680;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:1.096680;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.690918;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:0.942871;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:0.942871;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff6;src:url(f6.woff)format("woff");}.ff6{font-family:ff6;line-height:0.895996;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff7;src:url(f7.woff)format("woff");}.ff7{font-family:ff7;line-height:0.895996;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff8;src:url(f8.woff)format("woff");}.ff8{font-family:ff8;line-height:0.942871;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff9;src:url(f9.woff)format("woff");}.ff9{font-family:ff9;line-height:0.942871;font-style:normal;font-weight:normal;visibility:visible;}
.m9{transform:matrix(0.150000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.150000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.150000,0.000000,0.000000,0.250000,0,0);}
.m3{transform:matrix(0.162500,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.162500,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.162500,0.000000,0.000000,0.250000,0,0);}
.m2{transform:matrix(0.175000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.175000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.175000,0.000000,0.000000,0.250000,0,0);}
.m4{transform:matrix(0.187500,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.187500,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.187500,0.000000,0.000000,0.250000,0,0);}
.m7{transform:matrix(0.200000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.200000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.200000,0.000000,0.000000,0.250000,0,0);}
.m6{transform:matrix(0.212500,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.212500,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.212500,0.000000,0.000000,0.250000,0,0);}
.m1{transform:matrix(0.225000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.225000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.225000,0.000000,0.000000,0.250000,0,0);}
.m5{transform:matrix(0.237500,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.237500,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.237500,0.000000,0.000000,0.250000,0,0);}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m8{transform:matrix(0.897500,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.897500,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.897500,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._2{margin-left:-9.444314px;}
._1{margin-left:-7.736003px;}
._3{margin-left:-6.724208px;}
._0{margin-left:-1.012000px;}
._4{width:48.595998px;}
._6{width:57.089335px;}
._5{width:170.697279px;}
.fc5{color:rgb(255,255,255);}
.fc4{color:rgb(146,208,80);}
.fc0{color:rgb(0,0,0);}
.fc1{color:rgb(255,0,0);}
.fc2{color:rgb(78,78,77);}
.fc3{color:rgb(120,193,0);}
.fs4{font-size:32.000000px;}
.fs6{font-size:36.000000px;}
.fs1{font-size:40.000000px;}
.fs0{font-size:44.000000px;}
.fs5{font-size:48.000000px;}
.fs3{font-size:56.000000px;}
.fs2{font-size:64.000000px;}
.y2{bottom:2.331000px;}
.y1d{bottom:3.315000px;}
.y1e{bottom:3.954000px;}
.y14{bottom:4.670000px;}
.y19{bottom:4.720000px;}
.ya{bottom:4.770000px;}
.yd{bottom:4.820000px;}
.y15{bottom:5.770000px;}
.y16{bottom:5.813999px;}
.y12{bottom:5.820001px;}
.y11{bottom:5.864000px;}
.yb{bottom:5.870000px;}
.y1a{bottom:5.914000px;}
.yf{bottom:6.370000px;}
.y21{bottom:7.193001px;}
.y2a{bottom:11.949001px;}
.y4{bottom:14.980001px;}
.y3a{bottom:16.547000px;}
.y20{bottom:19.815000px;}
.y29{bottom:24.570999px;}
.y3{bottom:35.999973px;}
.y28{bottom:35.193000px;}
.y3f{bottom:94.463006px;}
.y3ff{bottom:75.463006px;}
.y3e{bottom:107.891007px;}
.y3ee{bottom:80.891007px;}
.y3aa{bottom:91.758673pt;}
.y3ab{bottom:71.758673pt;}
.y3d{bottom:121.319005px;}
.y3c{bottom:134.747006px;}
.y3b{bottom:148.175006px;}
.y39{bottom:161.603006px;}
.y69{bottom:184.851007px;}
.yy69{bottom:150.851007px;}
.y68y{bottom:168.279004px;}
.y68{bottom:198.279004px;}
.yy68{bottom:160.279004px;}
.yy67{bottom:191.372005pt;}
.y38{bottom:201.148008px;}
.y67{bottom:211.707006px;}
.y37{bottom:212.647008px;}
.y36{bottom:224.146009px;}
.y66{bottom:225.135005px;}
.y35{bottom:235.645009px;}
.y65{bottom:238.563005px;}
.y34{bottom:247.144009px;}
.y64{bottom:251.991006px;}
.y33{bottom:258.643007px;}
.y32{bottom:270.142007px;}
.y31{bottom:281.641006px;}
.y30{bottom:293.140006px;}
.y63{bottom:297.760998px;}
.y62{bottom:311.558998px;}
.y2f{bottom:317.287992px;}
.y0a{bottom:312.500000px;}
.y0{bottom:305.500000px;}
.y61{bottom:325.356998px;}
.y60{bottom:339.155001px;}
.y2e{bottom:342.917993px;}
.y5f{bottom:352.953001px;}
.y5e{bottom:362.788006px;}
.y40{bottom:365.000000px;}
.y2d{bottom:369.574008px;}
.y2b{bottom:375.528009px;}
.y2c{bottom:377.164009px;}
.y5d{bottom:379.736996px;}
.y5dd{bottom:385.736996px;}
.y5c{bottom:397.746010px;}
.y27{bottom:407.258011px;}
.y26{bottom:422.258011px;}
.y5b{bottom:423.347000px;}
.y5a{bottom:437.145004px;}
.y25{bottom:437.258011px;}
.y59{bottom:450.943008px;}
.y24{bottom:453.758011px;}
.y58{bottom:464.740997px;}
.y23{bottom:470.258011px;}
.y57{bottom:478.539001px;}
.y22{bottom:486.758011px;}
.y56{bottom:492.337006px;}
.y1f{bottom:503.258011px;}
.y55{bottom:506.134995px;}
.y1c{bottom:519.758011px;}
.y54{bottom:519.933006px;}
.y53{bottom:533.731003px;}
.y6a{bottom:546.851000px;}
.y52{bottom:547.529007px;}
.y1b{bottom:555.113000px;}
.y51{bottom:561.327003px;}
.y50{bottom:575.125000px;}
.y4f{bottom:588.923000px;}
.y18{bottom:589.179001px;}
.y4e{bottom:602.721001px;}
.y17{bottom:604.179005px;}
.y4d{bottom:616.519003px;}
.y13{bottom:619.129004px;}
.y4c{bottom:630.317002px;}
.y10{bottom:634.029003px;}
.y4b{bottom:644.165001px;}
.ye{bottom:648.979004px;}
.y4a{bottom:657.963003px;}
.yc{bottom:663.979004px;}
.y49{bottom:671.761003px;}
.y9{bottom:678.979004px;}
.y48{bottom:689.858999px;}
.y8{bottom:701.396004px;}
.y47{bottom:705.656999px;}
.y46{bottom:721.754999px;}
.y7{bottom:723.345003px;}
.y45{bottom:735.552999px;}
.y6{bottom:745.717997px;}
.y44{bottom:749.351002px;}
.y43{bottom:763.149001px;}
.y5{bottom:770.250000px;}
.y42{bottom:778.344002px;}
.y41{bottom:793.351000px;}
.y1{bottom:808.051001px;}
.h2{height:12.649000px;}
.h16{height:15.428000px;}
.hb{height:16.150000px;}
.ha{height:16.200001px;}
.h8{height:16.250000px;}
.h10{height:17.000000px;}
.hc{height:18.500000px;}
.h4{height:25.298000px;}
.h17{height:26.500000px;}
.h15{height:26.927000px;}
.h5{height:27.089844px;}
.h18{height:28.359375px;}
.h14{height:29.296875px;}
.he{height:31.582031px;}
.h13{height:31.904297px;}
.hd{height:32.226562px;}
.hf{height:35.000000px;}
.h9{height:35.449219px;}
.h3{height:38.994141px;}
.h12{height:42.539062px;}
.h11{height:48.500000px;}
.h7{height:49.628906px;}
.h6{height:56.718750px;}
.h1{height:498.500000px;}
.h19{height:595.500000px;}
.h0{height:842.000000px;}
.w19{width:10.500000px;}
.we{width:27.850000px;}
.w4{width:36.950001px;}
.w9{width:37.049999px;}
.wb{width:38.400002px;}
.wc{width:40.849998px;}
.w6{width:41.950001px;}
.w14{width:50.000000px;}
.w16{width:57.299999px;}
.wd{width:59.200001px;}
.w2{width:89.400002px;}
.w11{width:99.449997px;}
.wa{width:101.849998px;}
.wf{width:114.800003px;}
.w5{width:118.699997px;}
.w10{width:139.500000px;}
.w15{width:153.300003px;}
.w1a{width:192.149994px;}
.w17{width:192.649994px;}
.w13{width:202.000000px;}
.w12{width:253.050003px;}
.w7{width:258.000000px;}
.w8{width:279.750000px;}
.w1b{width:311.700012px;}
.w18{width:312.500000px;}
.w3{width:451.850006px;}
.w1{width:565.000000px;}
.w0{width:595.500000px;}
.w1c{width:842.000000px;}
.x1{left:0.000000px;}
.x15{left:6.400000px;}
.xb{left:8.145000px;}
.x7{left:9.450000px;}
.x26{left:20.000000px;}
.x2{left:22.000000px;}
.x14{left:25.650000px;}
.x0{left:30.500000px;}
.x23{left:36.000000px;}
.x28{left:38.000000px;}
.x13{left:45.532000px;}
.x24{left:59.532000px;}
.x4{left:65.600000px;}
.x8{left:119.050001px;}
.x1d{left:134.400003px;}
.x5{left:144.873006px;}
.x9{left:154.749998px;}
.xf{left:191.900000px;}
.x25{left:216.299994px;}
.x16{left:225.650000px;}
.x10{left:232.599997px;}
.x1e{left:259.663015px;}
.xa{left:272.200003px;}
.x17{left:273.650000px;}
.x1f{left:307.163001px;}
.xc{left:312.900000px;}
.x1a{left:321.650000px;}
.x1b{left:369.650000px;}
.x11{left:370.850012px;}
.x20{left:376.513009px;}
.x12{left:406.650000px;}
.x21{left:414.581003px;}
.x1c{left:417.650000px;}
.xd{left:433.250006px;}
.x6{left:300.634985px;}
.xe{left:469.049994px;}
.x22{left:471.271987px;}
.x18{left:472.949988px;}
.x19{left:520.949988px;}
.x29{left:541.358002px;}
.x3{left:545.357971px;}
.x27{left:784.857971px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._2{margin-left:-12.592419pt;}
._1{margin-left:-10.314670pt;}
._3{margin-left:-8.965610pt;}
._0{margin-left:-1.349333pt;}
._4{width:64.794664pt;}
._6{width:76.119113pt;}
._5{width:227.596372pt;}
.fs4{font-size:42.666667pt;}
.fs6{font-size:48.000000pt;}
.fs1{font-size:53.333333pt;}
.fs0{font-size:58.666667pt;}
.fs5{font-size:64.000000pt;}
.fs3{font-size:74.666667pt;}
.fs2{font-size:85.333333pt;}
.y2{bottom:3.108000pt;}
.y1d{bottom:4.419999pt;}
.y1e{bottom:5.272001pt;}
.y14{bottom:6.226667pt;}
.y19{bottom:6.293334pt;}
.ya{bottom:6.360001pt;}
.yd{bottom:6.426666pt;}
.y15{bottom:7.693333pt;}
.y16{bottom:7.751999pt;}
.y12{bottom:7.760001pt;}
.y11{bottom:7.818667pt;}
.yb{bottom:7.826667pt;}
.y1a{bottom:7.885333pt;}
.yf{bottom:8.493333pt;}
.y21{bottom:9.590668pt;}
.y2a{bottom:15.932002pt;}
.y4{bottom:19.973334pt;}
.y3a{bottom:22.062667pt;}
.y20{bottom:26.419999pt;}
.y29{bottom:32.761332pt;}
.y3{bottom:47.999964pt;}
.y28{bottom:47.590666pt;}
.y3f{bottom:125.950675pt;}
.y3ff{bottom:95.950675pt;}
.y3e{bottom:143.854677pt;}
.y3ee{bottom:107.854677pt;}
.y3aa{bottom:151.758673pt;}
.y3ab{bottom:131.758673pt;}
.y3d{bottom:161.758673pt;}
.y3c{bottom:179.662675pt;}
.y3b{bottom:197.566675pt;}
.y39{bottom:215.470675pt;}
.y69{bottom:246.468009pt;}
.yy69{bottom:210.468009pt;}
.y68x{bottom:220.372005pt;}
.y68y{bottom:230.372005pt;}
.y68{bottom:264.372005pt;}
.yy68{bottom:230.372005pt;}
.yy67{bottom:250.372005pt;}
.y38{bottom:266.197344pt;}
.y67{bottom:280.276007pt;}
.y37{bottom:283.529344pt;}
.y36{bottom:298.861346pt;}
.y66{bottom:300.180007pt;}
.y35{bottom:314.193345pt;}
.y65{bottom:320.084007pt;}
.y34{bottom:329.525345pt;}
.y64{bottom:335.988008pt;}
.y33{bottom:344.857343pt;}
.y32{bottom:355.189343pt;}
.y31{bottom:375.521342pt;}
.y30{bottom:390.853341pt;}
.y63{bottom:397.014664pt;}
.y62{bottom:415.411997pt;}
.y2f{bottom:423.050657pt;}
.y0a{bottom:415.333333pt;}
.y0{bottom:406.333333pt;}
.y61{bottom:433.809331pt;}
.y60{bottom:455.206668pt;}
.y2e{bottom:457.223990pt;}
.y5f{bottom:470.604001pt;}
.y5e{bottom:480.717341pt;}
.y40{bottom:486.666667pt;}
.y2d{bottom:492.765344pt;}
.y2b{bottom:500.704013pt;}
.y2c{bottom:502.885345pt;}
.y5d{bottom:506.315994pt;}
.y5dd{bottom:523.315994pt;}
.y5c{bottom:535.328013pt;}
.y27{bottom:543.010681pt;}
.y26{bottom:563.010681pt;}
.y5b{bottom:560.462667pt;}
.y5a{bottom:582.860006pt;}
.y25{bottom:583.010681pt;}
.y59{bottom:601.257345pt;}
.y24{bottom:605.010681pt;}
.y58{bottom:619.654663pt;}
.y23{bottom:627.010681pt;}
.y57{bottom:638.052002pt;}
.y22{bottom:649.010681pt;}
.y56{bottom:656.449341pt;}
.y1f{bottom:671.010681pt;}
.y55{bottom:674.846659pt;}
.y1c{bottom:693.010681pt;}
.y54{bottom:693.244008pt;}
.y53{bottom:711.641337pt;}
.y6a{bottom:729.134666pt;}
.y52{bottom:730.038676pt;}
.y1b{bottom:745.150667pt;}
.y51{bottom:748.436005pt;}
.y50{bottom:760.833333pt;}
.y4f{bottom:785.230667pt;}
.y18{bottom:778.572001pt;}
.y4e{bottom:803.628001pt;}
.y17{bottom:805.572006pt;}
.y4d{bottom:822.025337pt;}
.y13{bottom:825.505338pt;}
.y4c{bottom:840.422670pt;}
.y10{bottom:845.372004pt;}
.y4b{bottom:858.886668pt;}
.ye{bottom:865.305339pt;}
.y4a{bottom:877.284004pt;}
.yc{bottom:885.305339pt;}
.y49{bottom:895.681337pt;}
.y9{bottom:905.305339pt;}
.y48{bottom:923.811999pt;}
.y8{bottom:935.194672pt;}
.y47{bottom:938.209332pt;}
.y46{bottom:962.339999pt;}
.y7{bottom:975.460004pt;}
.y45{bottom:980.737333pt;}
.y6{bottom:994.290662pt;}
.y44{bottom:999.134669pt;}
.y43{bottom:1017.532001pt;}
.y5{bottom:1027.000000pt;}

.y20k{bottom:420.532001pt;}
.y19k{bottom:450.532001pt;}
.y18k{bottom:480.532001pt;}
.y17k{bottom:510.532001pt;}
.y16k{bottom:540.532001pt;}
.y15k{bottom:570.532001pt;}
.y14k{bottom:600.532001pt;}
.y13k{bottom:630.532001pt;}
.y12k{bottom:660.532001pt;}
.y11k{bottom:690.532001pt;}
.y10k{bottom:700.532001pt;}
.y9k{bottom:730.532001pt;}
.y8k{bottom:760.532001pt;}
.y7k{bottom:805.532001pt;}
.y6k{bottom:820.532001pt;}
.y6k{bottom:850.532001pt;}
.y5k{bottom:880.532001pt;}
.y4k{bottom:910.532001pt;}
.y3k{bottom:940.532001pt;}
.y2k{bottom:970.532001pt;}
.y1k{bottom:1000.532001pt;}

.y42{bottom:1037.792002pt;}
.y41{bottom:1057.801333pt;}
.y1{bottom:1077.401334pt;}
.h2{height:16.865334pt;}
.h16{height:20.570667pt;}
.hb{height:21.533333pt;}
.ha{height:21.600001pt;}
.h8{height:21.666667pt;}
.h10{height:22.666667pt;}
.hc{height:24.666667pt;}
.h4{height:33.730667pt;}
.h17{height:35.333333pt;}
.h15{height:35.902667pt;}
.h5{height:36.119792pt;}
.h18{height:37.812500pt;}
.h14{height:39.062500pt;}
.he{height:42.109375pt;}
.h13{height:42.539062pt;}
.hd{height:42.968750pt;}
.hf{height:46.666667pt;}
.h9{height:47.265625pt;}
.h3{height:51.992188pt;}
.h12{height:56.718750pt;}
.h11{height:64.666667pt;}
.h7{height:66.171875pt;}
.h6{height:75.625000pt;}
.h1{height:665.666667pt;}
.h19{height:794.000000pt;}
.h0{height:1122.666667pt;}
.w19{width:14.000000pt;}
.we{width:37.133334pt;}
.w4{width:49.266668pt;}
.w9{width:49.399999pt;}
.wb{width:51.200002pt;}
.wc{width:54.466665pt;}
.w6{width:55.933334pt;}
.w14{width:66.666667pt;}
.w16{width:76.399999pt;}
.wd{width:78.933334pt;}
.w2{width:119.200002pt;}
.w11{width:132.599996pt;}
.wa{width:135.799998pt;}
.wf{width:153.066671pt;}
.w5{width:158.266663pt;}
.w10{width:186.000000pt;}
.w15{width:204.400004pt;}
.w1a{width:256.199992pt;}
.w17{width:256.866659pt;}
.w13{width:269.333333pt;}
.w12{width:337.400004pt;}
.w7{width:344.000000pt;}
.w8{width:373.000000pt;}
.w1b{width:415.600016pt;}
.w18{width:416.666667pt;}
.w3{width:602.466675pt;}
.w1{width:753.333333pt;}
.w0{width:794.000000pt;}
.w1c{width:1122.666667pt;}
.x1{left:0.000000pt;}
.x15{left:8.533333pt;}
.xb{left:10.860000pt;}
.x7{left:12.600000pt;}
.x26{left:26.666667pt;}
.x2{left:29.333333pt;}
.x14{left:34.200000pt;}
.x0{left:40.666667pt;}
.x23{left:48.000000pt;}
.x28{left:50.666667pt;}
.x13{left:60.709333pt;}
.x24{left:79.375999pt;}
.x4{left:87.466667pt;}
.x8{left:158.733335pt;}
.x1d{left:179.200005pt;}
.x5{left:193.164009pt;}
.x9{left:206.333331pt;}
.xf{left:255.866666pt;}
.x25{left:288.399992pt;}
.x16{left:300.866667pt;}
.x10{left:310.133329pt;}
.x1e{left:346.217354pt;}
.xa{left:362.933337pt;}
.x17{left:364.866667pt;}
.x1f{left:409.550668pt;}
.xc{left:417.199999pt;}
.x1x{left:425.866667pt;}
.x1a{left:428.866667pt;}
.x1b{left:492.866667pt;}
.x11{left:494.466682pt;}
.x20{left:502.017346pt;}
.x12{left:542.199999pt;}
.x21{left:552.774671pt;}
.x1c{left:556.866667pt;}
.xd{left:577.666674pt;}
.x6{left:300.846647pt;}
.xe{left:625.399991pt;}
.x22{left:628.362649pt;}
.x18{left:670.599984pt;}
.x19{left:694.599984pt;}
.x29{left:721.810669pt;}
.x3{left:727.143962pt;}
.x27{left:1046.477295pt;}
}
