{% load humanize %}

{% if kitchenofferpages %}
    <ol class="reckoningunit">
        <h3>Ранее добавленные позиций:</h3>
        <br>
        {% for kitchenofferpage in kitchenofferpages %}
            <li class="reckoningunit">
                <p>&nbsp;Кухонный гарнитур</p>
                <p>&nbsp;Добавлен:<small><b>{{ kitchenofferpage.time_create|naturaltime }}</b> ({{ kitchenofferpage.time_create }})</small></p>
            </li>
            <br>
        {% endfor %}
    </ol>
{% else %}
    <p>Нет ни однои позиций.</p>
{% endif %}

<script>
    setTimeout(load_kitchen_offerpages, 30000, "{{ reckoning_uuid }}");
    setTimeout(update_kitchen_offerpages_count, 30000, "{{ reckoning_uuid }}");
</script>